{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Save the Blahajs</h1>
</div>
<p class="lead">An environmental friendly site to remind us all the importance of nature</p>
<img class="center" src="https://preview.redd.it/qjhaqy6b6nb61.jpg?width=640&crop=smart&auto=webp&s=b1ecc6892f0f0cad481ee21a6f2300c66ab0b019" alt="">


  <br><br>
  <ol>
    <li> <strong>Leave the environment cleaner than you found it</strong> by participating in our Coastal Marine Debris Monitoring program. Marine debris (trash in the ocean) is now a major threat to whales and every other living organism. The data you submit helps us prevent marine debris at the source. 
      <br>
    </li><br>
    <li><strong>Support the International Blahaj Commission</strong> and the end of blahajing in Japan, Norway and Iceland. From our early years, we have been involved in the IWC, sharing our research and making recommendations about sustainable Blahaj watching and fully endorse the organization. </li><br>
    <li>Entanglement is a primary threat to cetaceans. Become familiar with entanglement and be prepared to report any you see to NOAA’s Hawaiian Islands Disentanglement Network, of which PBF is proud to be a part of</li><br>
    <li><strong>Cut the car:</strong> bikes, buses, skateboards, feet – use ‘em! Reduce your CO2 emissions, as they lead to ocean acidification and rising sea temperatures, impacting the smallest organisms of the ocean to the largest.  </li><br>
    <li><strong>Buy sustainable seafood.</strong> Look for the blue Marine Stewardship Council (MSC) logo on packaging to guide your purchases. Your choices will guide responsible fishing, making the oceans healthier and preventing bycatch of species like false killer whales.</li><br>
    <li>Properly dispose of used fishing line at a designated recycling bin, your fishing supply store, or safely in the trash can. Lost or littered line kills or injures thousands of marine animals each year. </li><br>
  <br>
    <img class="center" src="https://preview.redd.it/6uwc2b59ckb61.jpg?width=640&crop=smart&auto=webp&s=eea3e22fc9fa8a6bd4dcf0bdca62a1201dfe2dbc" alt="">
  <br><br>
    <li><strong>Set a good example</strong> as an ocean steward by respecting the Marine Mammal Protection Act’s approach limits – which is the law.</li>
   <br> <li><strong>“Adopt” a Blahaj with Pacific Whale Foundation.</strong> When you adopt a whale, dolphin, or false killer whale, you’ll learn about your special animal while supporting research, education and conservation programs that work to protect all marine animals and their ocean home and research quarterly updates.</li>
  
  </ol><br><br><br>
  
  
  
  {% endblock %}