html {
    font-family: 'Ubuntu';
    text-align: center;
    font-size: 10px;
}

body { 
    background: rgb(252,70,107);
    background: radial-gradient(circle, rgb(254, 15, 63) 0%, rgb(252, 34, 77) 25%, rgba(0,0,0,1) 80%);
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

.clock{
    left: 36%;
    width: 30rem;
    height: 30rem; 
    background: rgba(0,0,0,0.2);
    border: 13px solid black ;
    border-radius: 50%;
    position: relative;
    padding: 2rem;
    box-shadow: 0 0 0 4px rgba(0,0,0,0.1),
                inset 0 0 0 5px #5c5c5c,
                inset 0 0 0 10px black,
                0 0 10px rgba(0,0,0,0.2);
}

.clock_face{
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px)      /* height of clock hands */
}

.hand{
    width: 50%;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%; /* set rotation point */
    transform: rotate(90deg);
    transition: all 0.05s;  
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1); 
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.694);
}

.hour_hand{
    width: 30%;
    height: 8px;
    left: 19.5%;    
    background: black;
    border: solid 2px #828181;
    border-bottom-left-radius: 55%;
    border-top-left-radius: 55%;
}

.min_hand{
    width: 45%;
    height: 6px;
    left: 5%;    
    background: black;
    border: solid 2px #828181;    
    border-bottom-left-radius: 45%;
    border-top-left-radius: 45%;
}

.sec_hand{
    height: 4px;
    background: rgb(82, 0, 0);
    border-radius: 25%;
}

.center{
    left: 41%;
    margin-top: 1.5%;
    width: 10%;
    height: 10%;
    background: black;
    position: absolute;
    top: 50%;
    box-shadow: none;
    border-radius: 50%;
}

.end{
    margin-top: 6vh;
}

.day, .digital{
    font-size: 40px;
    font-weight: bold;
    color: black;
    text-shadow: 4px 4px 4px rgb(31, 31, 31);
}

.tz{    
    position: absolute;
    margin-top: -30%;
    left: -5%;
    background-color: #000000;
    color: #858585;
    font-size: 2rem;
}

@media only screen and (max-width: 800px){
    
    body { 
        align-items: flex-start;
        padding-left: 2vw;
        padding-top: 2vh;
        background: linear-gradient(135deg, rgb(254, 15, 63) 0%, rgb(252, 34, 77) 25%, rgba(0,0,0,1) 95%);

    }
    .clock{
            left: 0%;
    }

    .tz{    
        margin-top: 150%;
    
}