  :root {
    --black: black;
  }

  body {
    margin:0;
    padding:0;
    font-family: 'Ubuntu';    
    overflow: hidden;
  }

  .canvas{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--black);
  }

  button{
    position: sticky;
  }
  
  img {
    position: absolute; 
    width:100%;
    height: 100%;
  }

  .back{
    top: -10%;
    left: -20%;
    height: 130%;
    width: 130%;
  }

  .universe{
    left: -20%;
    top: -30%;
    height: 190%;
    width: 120%;
  }

  .cat{
    width: 30%;
    height: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    left: 70%;
    filter: saturate(3);
    -webkit-filter: saturate(3);
  }

  .cat:hover{    
    left: -5%;
    opacity:0.5;
    -webkit-filter: invert(1);
    filter: invert(1);
    -webkit-transform: scaleX(-1) !important;
    transform: scaleX(-1) !important;
    border-top-left-radius: 50%;
    background-color: rgba(1, 149, 152, 0.934);
    box-shadow: 150px -120px 11px rgba(196, 235, 0, 0.276),
                -100px 20px 11px rgba(0, 255, 229, 0.324), 
                -140px 100px 11px rgba(2, 70, 64, 0.324),
                -70px -30px 11px rgba(0, 8, 255, 0.324),
                50px -80px 11px rgb(232, 232, 240),
                40px -60px 2px rgba(216, 0, 235, 0.365);
  }

  .broccoli{
    width: 10%;
    height: 10%;
    top: 30%;
    left: 50%;
  }

  .hiddenText{
    position: absolute;
    top: 75%;
    left: 80%;
    color: rgb(26, 26, 26);
  }
/*
  span{
    margin: 2vw;
    padding: 2vw;
    scale:0.1;
    border-radius: 80%;
    opacity: 0.5;
    width: 1vw;
    height: 1vw;
    top: 20%;
    left: 40%;
    position: absolute;
    animation-name: weirdo;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running; 
  } 
  
  @keyframes weirdo {
    0% {
      transform: scale(.9);
      transform: translateY(-325%);
      background-color: rgba(255, 255, 255, 0.112);
    }
    50% {
      background-color: rgba(0, 51, 255, 0.194);
      transform: translateY(325%);
    }
    100% {
      transform: scale(1.5); 
      transform: translateX(125%);
      background-color: rgba(149, 0, 255, 0.174)
    }
  }
*/

  @keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
  }


  span{
    color: #a99603;
    margin: 2vw;
    padding: 2vw;
    scale:0.1;
    border-radius: 80%;
    opacity: 0.5;
    width: 1vw;
    height: 1vw;
    top: 20%;
    left: 40%;
    overflow: hidden; 
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

  span:nth-child(0) {
      background-color: #7d03a9;
      top: 76%;
      left: 91%;
      animation-duration: 49s;
      animation-delay: -2s;
      transform-origin: -21vw -10vh;
  }
  span:nth-child(1) {
    background-color: #07f284;
      top: 22%;
      left: 67%;
      animation-duration: 12s;
      animation-delay: -20s;
      transform-origin: 15vw -23vh;
  }
  span:nth-child(2) {
    background-color: #001d5b;
      top: 90%;
      left: 100%;
      animation-duration: 6s;
      animation-delay: -5s;
      transform-origin: 19vw 12vh;
  }