{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
  <h1>About Blahajs</h1>
  <img class="center" src="https://preview.redd.it/x7pi3yobyvb61.jpg?width=640&crop=smart&auto=webp&s=6231af5fce473832f416afacfef61d995ffd429a" widht="auto" height="400" alt="">

</div>
<p class="lead">Meet Blåhaj (Blaha), the soft toy shark from IKEA that has millions of fans around the world. The Swedish furniture brand first started selling the toy in stores a few years ago, but was recently convinced to relaunch it after fans petitioned for a comeback. The friendly-looking shark has now appeared in countless social media posts, and some have even created their own Instagram pages for their plushy pal.</p>
<p>It’s not clear what exactly makes this 1-meter-long shark so popular but Blåhaj arguably has a certain charismatic charm. In the online product description, IKEA says, “Big and safe to have at your side if you want to discover the world underneath the sea. The blue shark can swim very far, dive really deep and hear your heart beating from far away.” Just like a comfort animal, Blåhaj seems to be the perfect friend for when you just need a hug.</p>
<p>Among the many positive online reviews, one enthusiastic IKEA customer writes, “This guy is my favorite buddy in the bedroom […] We snuggle and have deep conversations about life and secrets […] Do yourself a favor and get yourself a Sharkie. You will not regret it.”</p>


{% endblock %}
